.header {
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }

.image {
    padding-left: 15px;
    max-height: 100%;
    max-width: 100%;
}

.headerText{
  font-size: 80px;
  margin: auto 0;
  font-weight: bold;
  color: #eeeeee;
}

.btn {
  border-radius: 4px;
  background-color: #808080;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.btndiv {
  display: inline-block;
}


